/*
 * Copyright 2024-2025 Variscite Ltd. - https://www.variscite.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	regulators {
		reg_sd1_vmmc: regulator_sd1_vmmc {
			compatible = "regulator-fixed";
			regulator-name = "VSD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
	};

	iw61x_pwrseq: iw61x_pwrseq {
		compatible = "mmc-pwrseq-simple";
		post-power-on-delay-ms = <100>;
		power-off-delay-us = <10000>;
		reset-gpios = <&gpio5 6 GPIO_ACTIVE_LOW>,	/* WIFI_RESET */
			      <&gpio5 2 GPIO_ACTIVE_LOW>;	/* WIFI_PWR_EN */
		status = "okay";
	};
};

&tsc {
	status = "disabled";
};

&usdhc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_wifi>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>, <&pinctrl_wifi>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>, <&pinctrl_wifi>;
	keep-power-in-suspend;
	non-removable;
	vmmc-supply = <&reg_sd1_vmmc>;
	mmc-pwrseq = <&iw61x_pwrseq>;
	status = "okay";
};

&uart2 {
	bluetooth_iw61x: bluetooth_iw61x {
		compatible = "nxp,88w8987-bt";
		status = "okay";
	};
};
