// SPDX-License-Identifier: GPL-2.0+ OR MIT
//
// Copyright (C) 2016-2024 Variscite Ltd.

#include <dt-bindings/input/input.h>
#include "imx7d.dtsi"

/ {
	model = "Variscite i.MX7 Dual VAR-SOM-MX7";
	compatible = "variscite,imx7-var-som", "fsl,imx7d";

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	pxp_v4l2_out {
		compatible = "fsl,imx7d-pxp-v4l2", "fsl,imx6sx-pxp-v4l2", "fsl,imx6sl-pxp-v4l2";
		status = "okay";
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "wm8904-audio";
		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack",
			"Line", "Line In Jack";
		simple-audio-card,routing =
			"Headphone Jack", "HPOUTL",
			"Headphone Jack", "HPOUTR",
			"IN2L", "Line In Jack",
			"IN2R", "Line In Jack",
			"IN1L", "Microphone Jack",
			"IN1R", "Microphone Jack";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;
		assigned-clocks = <&clks IMX7D_AUDIO_MCLK_ROOT_SRC>,
				  <&clks IMX7D_AUDIO_MCLK_ROOT_DIV>;
		assigned-clock-parents = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
		assigned-clock-rates = <0>, <12288000>;

		dailink_master: simple-audio-card,codec {
			sound-dai = <&wm8904>;
			system-clock-frequency = <12288000>;
		};

		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};
	};

	reg_vref_1v8: reg-vref-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vref-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	wlreg_on: wlreg-on {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "wlreg_on";
	};
};

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&adc2 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&sw1a_reg>;
};

&cpu1 {
	cpu-supply = <&sw1a_reg>;
};

&clks {
	assigned-clocks = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
	assigned-clock-rates = <884736000>;
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_ecspi1>;
	pinctrl-1 = <&pinctrl_ecspi1_sleep>;
	cs-gpios = <&gpio4 19 GPIO_ACTIVE_LOW>;
	status = "okay";

	/* Touch */
	ads7846@0 {
		reg = <0>;
		compatible = "ti,ads7846";
		pinctrl-names ="default";
		pinctrl-0 = <&pinctrl_ads7846_pendown>;
		interrupt-parent = <&gpio1>;
		interrupts = <9 0>;
		spi-max-frequency = <1500000>;
		pendown-gpio = <&gpio1 9 0>;
		ti,x-min = /bits/ 16 <125>;
		ti,x-max = /bits/ 16 <4008>;
		ti,y-min = /bits/ 16 <282>;
		ti,y-max = /bits/ 16 <3864>;
		ti,x-plate-ohms = /bits/ 16 <180>;
		ti,pressure-max = /bits/ 16 <255>;
		ti,debounce-max = /bits/ 16 <10>;
		ti,debounce-tol = /bits/ 16 <3>;
		ti,debounce-rep = /bits/ 16 <1>;
		ti,settle-delay-usec = /bits/ 16 <150>;
		ti,keep-vref-on;
	};
};

&epxp {
	status = "okay";
};

&fec1 {
	pinctrl-names = "default","sleep";
	pinctrl-0 = <&pinctrl_enet1>, <&pinctrl_enet1_rst>, <&pinctrl_enet2_rst>;
	pinctrl-1 = <&pinctrl_enet1_sleep>, <&pinctrl_enet1_rst_sleep>, <&pinctrl_enet2_rst_sleep>;
	phy-supply=<&vgen3_reg>;
	assigned-clocks = <&clks IMX7D_ENET_PHY_REF_ROOT_SRC>,
			  <&clks IMX7D_ENET_AXI_ROOT_SRC>,
			  <&clks IMX7D_ENET1_TIME_ROOT_SRC>,
			  <&clks IMX7D_ENET1_TIME_ROOT_CLK>,
			  <&clks IMX7D_ENET_AXI_ROOT_CLK>;
	assigned-clock-parents = <&clks IMX7D_PLL_ENET_MAIN_25M_CLK>,
				 <&clks IMX7D_PLL_ENET_MAIN_250M_CLK>,
				 <&clks IMX7D_PLL_ENET_MAIN_100M_CLK>;
	assigned-clock-rates = <0>, <0>, <0>, <100000000>, <250000000>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			adi,phy-mode-override = "rgmii-rxid";
			reg = <0>;
			vddio-supply = <&vddio0>;
			reset-gpios = <&gpio5 11 GPIO_ACTIVE_LOW>;
			reset-assert-us = <20000>;
			reset-deassert-us = <80000>;

			vddio0: vddio-regulator {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
		};

		ethphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			adi,phy-mode-override = "rgmii-rxid";
			reg = <1>;
			vddio-supply = <&vddio1>;
			reset-gpios = <&gpio4 3 GPIO_ACTIVE_LOW>;
			reset-assert-us = <20000>;
			reset-deassert-us = <80000>;

			vddio1: vddio-regulator {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
		};
	};
};

&fec2 {
	pinctrl-names = "default","sleep";
	pinctrl-0 = <&pinctrl_enet2>;
	pinctrl-1 = <&pinctrl_enet2_sleep>;
	phy-supply=<&vgen3_reg>;
	assigned-clocks = <&clks IMX7D_ENET_PHY_REF_ROOT_SRC>,
			  <&clks IMX7D_ENET_AXI_ROOT_SRC>,
			  <&clks IMX7D_ENET2_TIME_ROOT_SRC>,
			  <&clks IMX7D_ENET2_TIME_ROOT_CLK>,
			  <&clks IMX7D_ENET_AXI_ROOT_CLK>;
	assigned-clock-parents = <&clks IMX7D_PLL_ENET_MAIN_25M_CLK>,
				 <&clks IMX7D_PLL_ENET_MAIN_250M_CLK>,
				 <&clks IMX7D_PLL_ENET_MAIN_100M_CLK>;
	assigned-clock-rates = <0>, <0>, <0>, <100000000>, <250000000>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = <&gpio4 8 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio4 9 GPIO_ACTIVE_HIGH>;
	status = "okay";

	pmic: pfuze3000@8 {
		compatible = "fsl,pfuze3000";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1a {
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			/* use sw1c_reg to align with pfuze100/pfuze200 */
			sw1c_reg: sw1b {
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1475000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1650000>;
				regulator-boot-on;
				regulator-always-on;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen2_reg: vldo2 {
				status = "disabled";
			};

			vgen3_reg: vccsd {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vgen4_reg: v33 {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <2850000>;
				regulator-always-on;
			};

			vgen5_reg: vldo3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vldo4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_gpio>;
	scl-gpios = <&gpio4 10 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio4 11 GPIO_ACTIVE_HIGH>;
	status = "okay";

	wm8904: audio-codec@1a {
		#sound-dai-cells = <0>;
		AVDD-supply = <&vgen6_reg>;
		compatible = "wlf,wm8904";
		reg = <0x1a>;
		clocks = <&clks IMX7D_AUDIO_MCLK_ROOT_DIV>;
		clock-names = "mclk";
		num-drc-cfgs = <5>;
		drc-cfg-names = "default", "peaklimiter", "tradition", "soft", "music";
		drc-cfg-regs =
				/* coded default: KNEE_IP = KNEE_OP = 0, HI_COMP = LO_COMP = 1  */
				<0x01af 0x3248 0x0000 0x0000>,
				/* coded default: KNEE_IP = -24, KNEE_OP = -6, HI_COMP = 1/4, LO_COMP = 1 */
				<0x04af 0x324b 0x0010 0x0408>,
				/* coded default: KNEE_IP = -42, KNEE_OP = -3, HI_COMP = 0, LO_COMP = 1 */
				<0x04af 0x324b 0x0028 0x0704>,
				/* coded default: KNEE_IP = -45, KNEE_OP = -9, HI_COMP = 1/8, LO_COMP = 1 */
				<0x04af 0x324b 0x0018 0x078c>,
				/* coded default: KNEE_IP = -30, KNEE_OP = -10.5, HI_COMP = 1/4, LO_COMP = 1 */
				<0x04af 0x324b 0x0010 0x050e>;
		gpio-cfg = <
			0x0018 /* GPIO1 => DMIC_CLK */
			0xffff /* GPIO2 => don't touch */
			0xffff /* GPIO3 => don't touch */
			0xffff /* GPIO4 => don't touch */
		>;
		status = "okay";
	};
};

&reg_1p0d {
	vin-supply = <&sw2_reg>;
};

&reg_1p2 {
	vin-supply = <&sw2_reg>;
};

&sai1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_sai1 &pinctrl_sai1_mclk>;
	pinctrl-1 = <&pinctrl_sai1_sleep &pinctrl_sai1_mclk_sleep>;
	assigned-clocks = <&clks IMX7D_SAI1_ROOT_SRC>,
			  <&clks IMX7D_SAI1_ROOT_CLK>;
	assigned-clock-parents = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
	assigned-clock-rates = <0>, <12288000>;
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&sdma {
	status = "okay";
};

/* BT */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>, <&pinctrl_bt>;
	assigned-clocks = <&clks IMX7D_UART3_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_PLL_SYS_MAIN_240M_CLK>;
	uart-has-rtscts;
	status = "okay";
};

/* WiFi */
&usdhc2 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz","sleep";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_wlan>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_wlan>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_wlan>;
	pinctrl-3 = <&pinctrl_usdhc2_sleep>, <&pinctrl_wlan_sleep>;
	keep-power-in-suspend;
	non-removable;
	pm-ignore-notify;
	vmmc-supply = <&wlreg_on>;
	status = "okay";

	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&iomuxc {
	pinctrl_bt: btgrp {
		fsl,pins = <
			MX7D_PAD_GPIO1_IO14__GPIO1_IO14		0x80000000  /* bt reg on */
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX7D_PAD_ECSPI1_MISO__ECSPI1_MISO	0x2
			MX7D_PAD_ECSPI1_MOSI__ECSPI1_MOSI	0x2
			MX7D_PAD_ECSPI1_SCLK__ECSPI1_SCLK	0x2
			MX7D_PAD_ECSPI1_SS0__GPIO4_IO19		0x2
		>;
	};

	pinctrl_ecspi1_sleep: ecspi1grp_sleep {
		fsl,pins = <
			MX7D_PAD_ECSPI1_MISO__GPIO4_IO18	0x10
			MX7D_PAD_ECSPI1_MOSI__GPIO4_IO17	0x10
			MX7D_PAD_ECSPI1_SCLK__GPIO4_IO16	0x10
			MX7D_PAD_ECSPI1_SS0__DISABLED		0x10
		>;
	};

	pinctrl_enet1: enet1grp {
		fsl,pins = <
			MX7D_PAD_SD2_CD_B__ENET1_MDIO			0x3
			MX7D_PAD_SD2_WP__ENET1_MDC			0x3
			MX7D_PAD_ENET1_RGMII_TXC__ENET1_RGMII_TXC	0x1
			MX7D_PAD_ENET1_RGMII_TD0__ENET1_RGMII_TD0	0x1
			MX7D_PAD_ENET1_RGMII_TD1__ENET1_RGMII_TD1	0x1
			MX7D_PAD_ENET1_RGMII_TD2__ENET1_RGMII_TD2	0x1
			MX7D_PAD_ENET1_RGMII_TD3__ENET1_RGMII_TD3	0x1
			MX7D_PAD_ENET1_RGMII_TX_CTL__ENET1_RGMII_TX_CTL	0x1
			MX7D_PAD_ENET1_RGMII_RXC__ENET1_RGMII_RXC	0x1
			MX7D_PAD_ENET1_RGMII_RD0__ENET1_RGMII_RD0	0x1
			MX7D_PAD_ENET1_RGMII_RD1__ENET1_RGMII_RD1	0x1
			MX7D_PAD_ENET1_RGMII_RD2__ENET1_RGMII_RD2	0x1
			MX7D_PAD_ENET1_RGMII_RD3__ENET1_RGMII_RD3	0x1
			MX7D_PAD_ENET1_RGMII_RX_CTL__ENET1_RGMII_RX_CTL	0x1
		>;
	};

	pinctrl_enet1_rst: enet1rstgrp {
		fsl,pins = <
			MX7D_PAD_SD2_RESET_B__GPIO5_IO11		0x59  /* ethphy0 reset */
		>;
	};

	pinctrl_enet1_sleep: enet1_sleep_grp {
		fsl,pins = <
			MX7D_PAD_SD2_CD_B__GPIO5_IO9			0x10
			MX7D_PAD_SD2_WP__GPIO5_IO10			0x10
			MX7D_PAD_ENET1_RGMII_TXC__GPIO7_IO11		0x10
			MX7D_PAD_ENET1_RGMII_TD0__GPIO7_IO6		0x10
			MX7D_PAD_ENET1_RGMII_TD1__GPIO7_IO7		0x10
			MX7D_PAD_ENET1_RGMII_TD2__GPIO7_IO8		0x10
			MX7D_PAD_ENET1_RGMII_TD3__GPIO7_IO9		0x10
			MX7D_PAD_ENET1_RGMII_TX_CTL__GPIO7_IO10		0x10
			MX7D_PAD_ENET1_RGMII_RXC__GPIO7_IO5		0x10
			MX7D_PAD_ENET1_RGMII_RD0__GPIO7_IO0		0x10
			MX7D_PAD_ENET1_RGMII_RD1__GPIO7_IO1		0x10
			MX7D_PAD_ENET1_RGMII_RD2__GPIO7_IO2		0x10
			MX7D_PAD_ENET1_RGMII_RD3__GPIO7_IO3		0x10
			MX7D_PAD_ENET1_RGMII_RX_CTL__GPIO7_IO4		0x10
		>;
	};

	pinctrl_enet1_rst_sleep: enet1rstsleepgrp {
		fsl,pins = <
			MX7D_PAD_SD2_RESET_B__GPIO5_IO11		0x10  /* ethphy0 reset */
		>;
	};

	pinctrl_enet2: enet2grp {
		fsl,pins = <
			MX7D_PAD_EPDC_GDSP__ENET2_RGMII_TXC		0x1
			MX7D_PAD_EPDC_SDCE2__ENET2_RGMII_TD0		0x1
			MX7D_PAD_EPDC_SDCE3__ENET2_RGMII_TD1		0x1
			MX7D_PAD_EPDC_GDCLK__ENET2_RGMII_TD2		0x1
			MX7D_PAD_EPDC_GDOE__ENET2_RGMII_TD3		0x1
			MX7D_PAD_EPDC_GDRL__ENET2_RGMII_TX_CTL		0x1
			MX7D_PAD_EPDC_SDCE1__ENET2_RGMII_RXC		0x1
			MX7D_PAD_EPDC_SDCLK__ENET2_RGMII_RD0		0x1
			MX7D_PAD_EPDC_SDLE__ENET2_RGMII_RD1		0x1
			MX7D_PAD_EPDC_SDOE__ENET2_RGMII_RD2		0x1
			MX7D_PAD_EPDC_SDSHR__ENET2_RGMII_RD3		0x1
			MX7D_PAD_EPDC_SDCE0__ENET2_RGMII_RX_CTL		0x1
		>;
	};

	pinctrl_enet2_rst: enet2rstgrp {
		fsl,pins = <
			MX7D_PAD_UART2_TX_DATA__GPIO4_IO3		0x59  /* ethphy1 reset */
		>;
	};

	pinctrl_enet2_sleep: enet2_sleep_grp {
		fsl,pins = <
			MX7D_PAD_EPDC_GDSP__GPIO2_IO27			0x10
			MX7D_PAD_EPDC_SDCE2__GPIO2_IO22			0x10
			MX7D_PAD_EPDC_SDCE3__GPIO2_IO23			0x10
			MX7D_PAD_EPDC_GDCLK__GPIO2_IO24			0x10
			MX7D_PAD_EPDC_GDOE__GPIO2_IO25			0x10
			MX7D_PAD_EPDC_GDRL__GPIO2_IO26			0x10
			MX7D_PAD_EPDC_SDCE1__GPIO2_IO21			0x10
			MX7D_PAD_EPDC_SDCLK__GPIO2_IO16			0x10
			MX7D_PAD_EPDC_SDLE__GPIO2_IO17			0x10
			MX7D_PAD_EPDC_SDOE__GPIO2_IO18			0x10
			MX7D_PAD_EPDC_SDSHR__GPIO2_IO19			0x10
			MX7D_PAD_EPDC_SDCE0__GPIO2_IO20			0x10
		>;
	};

	pinctrl_enet2_rst_sleep: enet2rstsleepgrp {
		fsl,pins = <
			MX7D_PAD_UART2_TX_DATA__GPIO4_IO3		0x10  /* ethphy1 reset */
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX7D_PAD_I2C1_SDA__I2C1_SDA	0x4000007f
			MX7D_PAD_I2C1_SCL__I2C1_SCL	0x4000007f
		>;
	};

	pinctrl_i2c1_gpio: i2c1gpiogrp {
		fsl,pins = <
			MX7D_PAD_I2C1_SDA__GPIO4_IO9	0x4000007f
			MX7D_PAD_I2C1_SCL__GPIO4_IO8	0x4000007f
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX7D_PAD_I2C2_SDA__I2C2_SDA	0x4000007f
			MX7D_PAD_I2C2_SCL__I2C2_SCL	0x4000007f
		>;
	};

	pinctrl_i2c2_gpio: i2c2gpiogrp {
		fsl,pins = <
			MX7D_PAD_I2C2_SDA__GPIO4_IO11	0x4000007f
			MX7D_PAD_I2C2_SCL__GPIO4_IO10	0x4000007f
		>;
	};

	pinctrl_sai1: sai1grp {
		fsl,pins = <
			MX7D_PAD_ENET1_RX_CLK__SAI1_TX_BCLK	0x1f
			MX7D_PAD_ENET1_CRS__SAI1_TX_SYNC	0x1f
			MX7D_PAD_ENET1_COL__SAI1_TX_DATA0	0x30
			MX7D_PAD_ENET1_TX_CLK__SAI1_RX_DATA0	0x1f
		>;
	};

	pinctrl_sai1_sleep: sai1grp_sleep {
		fsl,pins = <
			MX7D_PAD_ENET1_RX_CLK__GPIO7_IO13	0x10
			MX7D_PAD_ENET1_CRS__GPIO7_IO14		0x10
			MX7D_PAD_ENET1_COL__GPIO7_IO15		0x10
			MX7D_PAD_ENET1_TX_CLK__GPIO7_IO12	0x10
		>;
	};

	pinctrl_ads7846_pendown: ads7846pendowngrp {
		fsl,pins = <
			MX7D_PAD_GPIO1_IO09__GPIO1_IO9		0x59
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX7D_PAD_UART3_TX_DATA__UART3_DCE_TX	0x79
			MX7D_PAD_UART3_RX_DATA__UART3_DCE_RX	0x79
			MX7D_PAD_UART3_CTS_B__UART3_DCE_CTS	0x79
			MX7D_PAD_UART3_RTS_B__UART3_DCE_RTS	0x79
		>;
	};

	pinctrl_usdhc2_sleep: usdhc2grp_sleep {
		fsl,pins = <
			MX7D_PAD_SD2_CMD__GPIO5_IO13		0x10
			MX7D_PAD_SD2_CLK__GPIO5_IO12		0x10
			MX7D_PAD_SD2_DATA0__GPIO5_IO14		0x10
			MX7D_PAD_SD2_DATA1__GPIO5_IO15		0x10
			MX7D_PAD_SD2_DATA2__GPIO5_IO16		0x10
			MX7D_PAD_SD2_DATA3__GPIO5_IO17		0x10
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX7D_PAD_SD2_CMD__SD2_CMD	0x59
			MX7D_PAD_SD2_CLK__SD2_CLK	0x19
			MX7D_PAD_SD2_DATA0__SD2_DATA0	0x59
			MX7D_PAD_SD2_DATA1__SD2_DATA1	0x59
			MX7D_PAD_SD2_DATA2__SD2_DATA2	0x59
			MX7D_PAD_SD2_DATA3__SD2_DATA3	0x59
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2grp_100mhz {
		fsl,pins = <
			MX7D_PAD_SD2_CMD__SD2_CMD	0x5a
			MX7D_PAD_SD2_CLK__SD2_CLK	0x1a
			MX7D_PAD_SD2_DATA0__SD2_DATA0	0x5a
			MX7D_PAD_SD2_DATA1__SD2_DATA1	0x5a
			MX7D_PAD_SD2_DATA2__SD2_DATA2	0x5a
			MX7D_PAD_SD2_DATA3__SD2_DATA3	0x5a
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2grp_200mhz {
		fsl,pins = <
			MX7D_PAD_SD2_CMD__SD2_CMD	0x5b
			MX7D_PAD_SD2_CLK__SD2_CLK	0x1b
			MX7D_PAD_SD2_DATA0__SD2_DATA0	0x5b
			MX7D_PAD_SD2_DATA1__SD2_DATA1	0x5b
			MX7D_PAD_SD2_DATA2__SD2_DATA2	0x5b
			MX7D_PAD_SD2_DATA3__SD2_DATA3	0x5b
		>;
	};
};

&iomuxc_lpsr {
	pinctrl_sai1_mclk: sai1grp_mclk {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO01__SAI1_MCLK		0x1f
		>;
	};

	pinctrl_sai1_mclk_sleep: sai1grp_mclk_sleep {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO01__GPIO1_IO1		0x10
		>;
	};

	pinctrl_wlan: wlangrp {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO04__GPIO1_IO4		0x09 /* WL_REG_ON */
			MX7D_PAD_LPSR_GPIO1_IO03__OSC32K_32K_OUT	0xb0 /* WIFI Slow clock */
		>;
	};

	pinctrl_wlan_sleep: wlangrp_sleep {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO04__GPIO1_IO4		0x10 /* WL_REG_ON */
			MX7D_PAD_LPSR_GPIO1_IO03__OSC32K_32K_OUT	0x10 /* WIFI Slow clock */
		>;
	};
};
