/*
 * Copyright (C) 2016 Freescale Semiconductor, Inc.
 * Copyright 2017 NXP
 * Copyright 2019 Variscite Ltd.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/usb/pd.h>

/ {
	compatible = "fsl,imx8qm-var-som", "fsl,imx8qm";

	chosen {
		stdout-path = &lpuart0;
	};

	aliases {
		gpio0 = &lsio_gpio0;
		gpio1 = &lsio_gpio1;
		gpio2 = &lsio_gpio2;
		gpio3 = &lsio_gpio3;
		gpio4 = &lsio_gpio4;
		gpio5 = &lsio_gpio5;
		gpio6 = &lsio_gpio6;
		gpio7 = &lsio_gpio7;
		gpio8 = &pca9534;
		i2c0  = &i2c0;
		i2c1  = &i2c1;
		i2c2  = &i2c2;
		i2c3  = &i2c3;
		i2c4  = &i2c4;
	};

        gpio_keys {
                compatible = "gpio-keys";

                back {
			label = "Back";
			gpios = <&pca9534 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_BACK>;
                };

		home {
			label = "Home";
			gpios = <&pca9534 2 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_HOME>;
		};

                menu {
			label = "Menu";
			gpios = <&pca9534 3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_MENU>;
                };
        };

        leds {
                compatible = "gpio-leds";
                status = "okay";

		heartbeat {
			label = "heartbeat";
			gpios = <&pca9534 0 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	regulators: regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_audio: audio {
			compatible = "regulator-fixed";
			regulator-name = "wm8904_supply";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_ethphy1: regulator-ethphy1 {
			compatible = "regulator-fixed";
			vin-supply = <&reg_vselect>;
			regulator-name = "reg_ethphy1";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&pca9534 7 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-always-on;
		};

		reg_usdhc2_vmmc: usdhc2_vmmc {
			compatible = "regulator-fixed";
			regulator-name = "sw-3p3-sd1";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_otg1_vbus: usb_otg1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&lsio_gpio0 18 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_vselect: regulator-vselect {
			compatible = "regulator-fixed";
			regulator-name = "reg_vselect";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			gpio = <&pca9534 6 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		decoder_boot: decoder_boot@0x84000000 {
			no-map;
			reg = <0 0x84000000 0 0x2000000>;
		};

		decoder_rpc: decoder_rpc@0x92000000 {
			no-map;
			reg = <0 0x92000000 0 0x200000>;
		};

		dsp_reserved: dsp@0x92400000 {
			no-map;
			reg = <0 0x92400000 0 0x2000000>;
		};

		encoder_boot: encoder_boot@0x86000000 {
			no-map;
			reg = <0 0x86000000 0 0x400000>;
		};

		encoder_reserved: encoder_reserved@0x94400000 {
			no-map;
			reg = <0 0x94400000 0 0x800000>;
		};

		encoder_rpc: encoder_rpc@0x92200000 {
			no-map;
			reg = <0 0x92200000 0 0x200000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x3c000000>;
			alloc-ranges = <0 0x96000000 0 0x3c000000>;
			linux,cma-default;
		};

		ts_boot: ts_boot@0x95000000 {
			no-map;
			reg = <0 0x95000000 0 0x400000>;
		};
	};

	sound-wm8904 {
		compatible = "fsl,imx-audio-wm8904";
		model = "imx-wm8904";
		audio-codec = <&wm8904>;
		audio-cpu = <&esai0>;
		audio-routing =
			"Headphone Jack", "HPOUTL",
			"Headphone Jack", "HPOUTR",
			"IN2L", "Line In Jack",
			"IN2R", "Line In Jack",
			"IN1L", "Mic Jack",
			"Playback", "CPU-Playback",
			"CPU-Capture", "Capture";
		status = "okay";
	};
};

&acm {
	status = "okay";
};

&asrc0 {
	assigned-clock-rates = <786432000>, <49152000>, <24576000>;
	fsl,asrc-rate  = <48000>;
	status = "okay";
};

&asrc1 {
	assigned-clock-rates = <786432000>, <49152000>, <24576000>;
	fsl,asrc-rate = <48000>;
	status = "okay";
};

&cm40_intmux {
	status = "okay";
};

&cm41_intmux {
	status = "okay";
};

&dc0_pc {
	status = "okay";
};

&dc1_pc {
	status = "okay";
};

&dc0_prg1 {
	status = "okay";
};

&dc0_prg2 {
	status = "okay";
};

&dc0_prg3 {
	status = "okay";
};

&dc0_prg4 {
	status = "okay";
};

&dc0_prg5 {
	status = "okay";
};

&dc0_prg6 {
	status = "okay";
};

&dc0_prg7 {
	status = "okay";
};

&dc0_prg8 {
	status = "okay";
};

&dc0_prg9 {
	status = "okay";
};

&dc0_dpr1_channel1 {
	status = "okay";
};

&dc0_dpr1_channel2 {
	status = "okay";
};

&dc0_dpr1_channel3 {
	status = "okay";
};

&dc0_dpr2_channel1 {
	status = "okay";
};

&dc0_dpr2_channel2 {
	status = "okay";
};

&dc0_dpr2_channel3 {
	status = "okay";
};

&dpu1 {
	status = "okay";
};

&dc1_prg1 {
	status = "okay";
};

&dc1_prg2 {
	status = "okay";
};

&dc1_prg3 {
	status = "okay";
};

&dc1_prg4 {
	status = "okay";
};

&dc1_prg5 {
	status = "okay";
};

&dc1_prg6 {
	status = "okay";
};

&dc1_prg7 {
	status = "okay";
};

&dc1_prg8 {
	status = "okay";
};

&dc1_prg9 {
	status = "okay";
};

&dc1_dpr1_channel1 {
	status = "okay";
};

&dc1_dpr1_channel2 {
	status = "okay";
};

&dc1_dpr1_channel3 {
	status = "okay";
};

&dc1_dpr2_channel1 {
	status = "okay";
};

&dc1_dpr2_channel2 {
	status = "okay";
};

&dc1_dpr2_channel3 {
	status = "okay";
};


&dpu2 {
	status = "okay";
};

&esai0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esai0>;
	assigned-clocks = <&acm IMX_ADMA_ACM_ESAI0_MCLK_SEL>,
			<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_PLL>,
			<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_SLV_BUS>,
			<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_MST_BUS>,
			<&esai0_lpcg 0>;
	assigned-clock-parents = <&aud_pll_div0_lpcg 0>;
	assigned-clock-rates = <0>, <786432000>, <49152000>, <24576000>, <49152000>;
	status = "okay";
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	fsl,magic-packet;
	phy-reset-gpios = <&lsio_gpio2 28 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <10>;
	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;
	status = "okay";

	mdio:mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@4 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <4>;
			at803x,eee-disabled;
			at803x,vddio-1p8v;
		};

		ethphy1: ethernet-phy@5 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <5>;
			at803x,eee-disabled;
			at803x,vddio-1p8v;
		};
	};
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec2>;
	phy-mode = "rgmii-rxid";
	phy-handle = <&ethphy1>;
	fsl,magic-packet;
	phy-supply = <&reg_ethphy1>;
	phy-reset-gpios = <&pca9534 5 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <10>;
	status = "okay";
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "okay";
};

&flexspi0 {
	status = "disabled";
};

&gpu_3d0 {
	status = "okay";
};

&gpu_3d1 {
	status = "okay";
};

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c0>;
	clock-frequency = <100000>;
	status = "okay";

	wm8904: codec@1a {
		compatible = "wlf,wm8904";
		reg = <0x1a>;
		clocks = <&mclkout0_lpcg 0>;
		clock-names = "mclk";
		wlf,shared-lrclk;
		assigned-clocks = <&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_PLL>,
				<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_SLV_BUS>,
				<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_MST_BUS>,
				<&mclkout0_lpcg 0>;
		assigned-clock-rates = <786432000>, <49152000>, <12288000>, <12288000>;

		DCVDD-supply = <&reg_audio>;
		DBVDD-supply = <&reg_audio>;
		AVDD-supply = <&reg_audio>;
		CPVDD-supply = <&reg_audio>;
		MICVDD-supply = <&reg_audio>;
		num-drc-cfgs = <5>;
		drc-cfg-names = "default", "peaklimiter", "tradition", "soft", "music";
		drc-cfg-regs =
				/* coded default: KNEE_IP = KNEE_OP = 0, HI_COMP = LO_COMP = 1  */
				<0x01af 0x3248 0x0000 0x0000>,
				/* coded default: KNEE_IP = -24, KNEE_OP = -6, HI_COMP = 1/4, LO_COMP = 1 */
				<0x04af 0x324b 0x0010 0x0408>,
				/* coded default: KNEE_IP = -42, KNEE_OP = -3, HI_COMP = 0, LO_COMP = 1 */
				<0x04af 0x324b 0x0028 0x0704>,
				/* coded default: KNEE_IP = -45, KNEE_OP = -9, HI_COMP = 1/8, LO_COMP = 1 */
				<0x04af 0x324b 0x0018 0x078c>,
				/* coded default: KNEE_IP = -30, KNEE_OP = -10.5, HI_COMP = 1/4, LO_COMP = 1 */
				<0x04af 0x324b 0x0010 0x050e>;
		gpio-cfg = <
			0x0018 /* GPIO1 => DMIC_CLK */
			0xffff /* GPIO2 => don't touch */
			0xffff /* GPIO3 => don't touch */
			0xffff /* GPIO4 => don't touch */
		>;
		status = "okay";
	};
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	/* MIPI-CSI2 sensor */
	ov5640_mipi_0: ov5640_mipi@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mipicsi0>;
		clocks = <&xtal24m>;
		clock-names = "xclk";
		csi_id = <0>;
		powerdown-gpios = <&lsio_gpio3 4 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&lsio_gpio3 6 GPIO_ACTIVE_LOW>;
		mclk = <24000000>;
		mclk_source = <0>;
		mipi_csi;
		status = "okay";
		port {
			ov5640_mipi_0_ep: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
				data-lanes = <1 2>;
				clocks-lanes = <0>;
			};
		};
	};

	/* GPIO Expander */
        pca9534: gpio@20 {
                compatible = "nxp,pca9534";
                reg = <0x20>;
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_pca9534>;
                interrupt-parent = <&lsio_gpio1>;
                interrupts = <24 IRQ_TYPE_LEVEL_LOW>;
		gpio-controller;
		#gpio-cells = <2>;
		status ="okay";
        };

	/* USB Type-C Controller */
	typec_ptn5150: typec@3d {
		compatible = "nxp,ptn5150";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ptn5150>;
		reg = <0x3d>;
		int-gpio = <&lsio_gpio3 11 GPIO_ACTIVE_HIGH>;
		status ="okay";
	};
};

&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	/* Capacitive touch */
	captouch: ft5x06_ts@38 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_captouch>;
		compatible = "edt,edt-ft5x06";
		reg = <0x38>;
		interrupt-parent = <&lsio_gpio0>;
		interrupts = <19 IRQ_TYPE_EDGE_FALLING>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
		status = "okay";
	};

	/* DS1337 RTC module */
	rtc@68 {
		compatible = "dallas,ds1337";
		reg = <0x68>;
		status = "okay";
	};
};

&imx8_gpu_ss {
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx8qm-var-som {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				IMX8QM_ESAI1_FSR_LSIO_GPIO2_IO04			0x00000041
				IMX8QM_ESAI1_FST_LSIO_GPIO2_IO05			0x00000041
				IMX8QM_ESAI1_SCKR_LSIO_GPIO2_IO06			0x00000041
				IMX8QM_ESAI1_SCKT_LSIO_GPIO2_IO07			0x00000041
				IMX8QM_SPDIF0_EXT_CLK_LSIO_GPIO2_IO16			0x00000041
			>;
		};

		pinctrl_captouch: captouchgrp {
			fsl,pins = <
				IMX8QM_GPT1_COMPARE_LSIO_GPIO0_IO19			0x06000021
				/* Workaround for capacitive touch problem on Symphony board 1.1 */
				IMX8QM_GPT0_COMPARE_LSIO_GPIO0_IO16			0x06000021
			>;
		};

		pinctrl_esai0: esai0grp {
			fsl,pins = <
				IMX8QM_ESAI0_FSR_AUD_ESAI0_FSR				0xc6000040
				IMX8QM_ESAI0_FST_AUD_ESAI0_FST				0xc6000040
				IMX8QM_ESAI0_SCKR_AUD_ESAI0_SCKR			0xc6000040
				IMX8QM_ESAI0_SCKT_AUD_ESAI0_SCKT			0xc6000040
				IMX8QM_ESAI0_TX0_AUD_ESAI0_TX0				0xc6000040
				IMX8QM_ESAI0_TX5_RX0_AUD_ESAI0_TX5_RX0			0xc6000040
				IMX8QM_MCLK_OUT0_AUD_ESAI0_TX_HF_CLK			0xc600004c
			>;
		};

		pinctrl_flexcan1: flexcan0grp {
			fsl,pins = <
				IMX8QM_FLEXCAN0_TX_DMA_FLEXCAN0_TX			0x00000021
				IMX8QM_FLEXCAN0_RX_DMA_FLEXCAN0_RX			0x00000021
			>;
		};

		pinctrl_flexcan2: flexcan1grp {
			fsl,pins = <
				IMX8QM_FLEXCAN1_TX_DMA_FLEXCAN1_TX			0x00000021
				IMX8QM_FLEXCAN1_RX_DMA_FLEXCAN1_RX			0x00000021
			>;
		};

		pinctrl_fec1: fec1grp {
			fsl,pins = <
				IMX8QM_ENET0_MDC_CONN_ENET0_MDC				0x06000048
				IMX8QM_ENET0_MDIO_CONN_ENET0_MDIO				0x06000048
				IMX8QM_ENET0_RGMII_TX_CTL_CONN_ENET0_RGMII_TX_CTL		0x06000048
				IMX8QM_ENET0_RGMII_TXC_CONN_ENET0_RGMII_TXC		0x06000048
				IMX8QM_ENET0_RGMII_TXD0_CONN_ENET0_RGMII_TXD0		0x06000048
				IMX8QM_ENET0_RGMII_TXD1_CONN_ENET0_RGMII_TXD1		0x06000048
				IMX8QM_ENET0_RGMII_TXD2_CONN_ENET0_RGMII_TXD2		0x06000048
				IMX8QM_ENET0_RGMII_TXD3_CONN_ENET0_RGMII_TXD3		0x06000048
				IMX8QM_ENET0_RGMII_RXC_CONN_ENET0_RGMII_RXC		0x06000048
				IMX8QM_ENET0_RGMII_RX_CTL_CONN_ENET0_RGMII_RX_CTL		0x06000048
				IMX8QM_ENET0_RGMII_RXD0_CONN_ENET0_RGMII_RXD0		0x06000048
				IMX8QM_ENET0_RGMII_RXD1_CONN_ENET0_RGMII_RXD1		0x06000048
				IMX8QM_ENET0_RGMII_RXD2_CONN_ENET0_RGMII_RXD2		0x06000048
				IMX8QM_ENET0_RGMII_RXD3_CONN_ENET0_RGMII_RXD3		0x06000048
				IMX8QM_ESAI0_TX2_RX3_LSIO_GPIO2_IO28			0x06000048
				IMX8QM_ESAI0_TX4_RX1_LSIO_GPIO2_IO30			0x06000048
			>;
		};

		pinctrl_fec2: fec2grp {
			fsl,pins = <
				IMX8QM_ENET1_RGMII_TX_CTL_CONN_ENET1_RGMII_TX_CTL		0x06000048
				IMX8QM_ENET1_RGMII_TXC_CONN_ENET1_RGMII_TXC		0x06000048
				IMX8QM_ENET1_RGMII_TXD0_CONN_ENET1_RGMII_TXD0		0x06000048
				IMX8QM_ENET1_RGMII_TXD1_CONN_ENET1_RGMII_TXD1		0x06000048
				IMX8QM_ENET1_RGMII_TXD2_CONN_ENET1_RGMII_TXD2		0x06000048
				IMX8QM_ENET1_RGMII_TXD3_CONN_ENET1_RGMII_TXD3		0x06000048
				IMX8QM_ENET1_RGMII_RXC_CONN_ENET1_RGMII_RXC		0x06000048
				IMX8QM_ENET1_RGMII_RX_CTL_CONN_ENET1_RGMII_RX_CTL		0x06000048
				IMX8QM_ENET1_RGMII_RXD0_CONN_ENET1_RGMII_RXD0		0x06000048
				IMX8QM_ENET1_RGMII_RXD1_CONN_ENET1_RGMII_RXD1		0x06000048
				IMX8QM_ENET1_RGMII_RXD2_CONN_ENET1_RGMII_RXD2		0x06000048
				IMX8QM_ENET1_RGMII_RXD3_CONN_ENET1_RGMII_RXD3		0x06000048
			>;
		};

		pinctrl_hdmi_i2c: hdmii2cgrp  {
			fsl,pins = <
				IMX8QM_MIPI_DSI1_GPIO0_00_LSIO_GPIO1_IO22			0x00000041
			>;
		};

		pinctrl_i2c0: i2c0grp {
			fsl,pins = <
				IMX8QM_HDMI_TX0_TS_SCL_DMA_I2C0_SCL			0xc6000020
				IMX8QM_HDMI_TX0_TS_SDA_DMA_I2C0_SDA			0xc6000020
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				IMX8QM_USB_SS3_TC3_DMA_I2C1_SDA				0xc6000020
				IMX8QM_USB_SS3_TC1_DMA_I2C1_SCL				0xc6000020
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				IMX8QM_ENET1_MDC_DMA_I2C4_SCL				0xc6000020
				IMX8QM_ENET1_MDIO_DMA_I2C4_SDA				0xc6000020
			>;
		};

		pinctrl_lpuart0: lpuart0grp {
			fsl,pins = <
				IMX8QM_UART0_RX_DMA_UART0_RX				0x06000020
				IMX8QM_UART0_TX_DMA_UART0_TX				0x06000020
			>;
		};

		pinctrl_lpuart1: lpuart1grp {
			fsl,pins = <
				IMX8QM_UART1_RX_DMA_UART1_RX				0x06000020
				IMX8QM_UART1_TX_DMA_UART1_TX				0x06000020
				IMX8QM_UART1_CTS_B_DMA_UART1_RTS_B			0x06000020
				IMX8QM_UART1_RTS_B_DMA_UART1_CTS_B			0x06000020
			>;
		};

		pinctrl_lpuart2: lpuart2grp {
			fsl,pins = <
				IMX8QM_LVDS0_I2C1_SCL_DMA_UART2_TX			0x06000020
				IMX8QM_LVDS0_I2C1_SDA_DMA_UART2_RX			0x06000020
			>;
		};

		pinctrl_lpuart4: lpuart4grp {
			fsl,pins = <
				IMX8QM_M40_GPIO0_01_DMA_UART4_TX				0x06000020
				IMX8QM_M40_GPIO0_00_DMA_UART4_RX				0x06000020
			>;
		};

		pinctrl_mipicsi0: mipicsi0grp {
			fsl,pins = <
				IMX8QM_UART0_RTS_B_LSIO_GPIO0_IO22			0x00000021 /* CAM_BUF_EN */
				IMX8QM_SPI0_CS1_LSIO_GPIO3_IO06				0x00000021 /* CAM_RST */
				IMX8QM_SPI0_SDI_LSIO_GPIO3_IO04				0x00000021 /* CAM_PWR */
			>;
		};

		pinctrl_lpspi1: lpspi1grp {
			fsl,pins = <
				IMX8QM_ADC_IN3_DMA_SPI1_SCK				0x0600004c
				IMX8QM_ADC_IN4_DMA_SPI1_SDO				0x0600004c
				IMX8QM_ADC_IN5_DMA_SPI1_SDI				0x0600004c
			>;
		};

		pinctrl_lpspi1_cs: lpspi1csgrp {
			fsl,pins = <
				IMX8QM_ADC_IN6_LSIO_GPIO3_IO24				0x00000021
			>;
		};

		pinctrl_lpspi2: lpspi2grp {
			fsl,pins = <
				IMX8QM_SPI2_SCK_DMA_SPI2_SCK		                0x0600004c
				IMX8QM_SPI2_SDO_DMA_SPI2_SDO				0x0600004c
				IMX8QM_SPI2_SDI_DMA_SPI2_SDI				0x0600004c
			>;
		};

		pinctrl_lpspi2_cs: lpspi2cs {
			fsl,pins = <
				IMX8QM_SPI2_CS0_LSIO_GPIO3_IO10				0x00000021
			>;
		};

		pinctrl_mlb: mlbgrp {
			fsl,pins = <
				IMX8QM_MLB_SIG_CONN_MLB_SIG				0x00000021
				IMX8QM_MLB_CLK_CONN_MLB_CLK				0x00000021
				IMX8QM_MLB_DATA_CONN_MLB_DATA				0x00000021
			>;
		};

		pinctrl_pca9534: pca9534grp {
			fsl,pins = <
				IMX8QM_MIPI_CSI0_MCLK_OUT_LSIO_GPIO1_IO24			0x00000021
			>;
		};

		pinctrl_pciea: pcieagrp {
			fsl,pins = <
				IMX8QM_SAI1_RXFS_LSIO_GPIO3_IO14				0x00000021
			>;
		};

		pinctrl_ptn5150: ptn5150grp {
			fsl,pins = <
				IMX8QM_SPI2_CS1_LSIO_GPIO3_IO11				0x00000021
			>;
		};

		pinctrl_pwm_lvds0: lvds0pwm0grp {
			fsl,pins = <
				IMX8QM_LVDS0_GPIO00_LVDS0_PWM0_OUT			0x00000020
			>;
		};

		pinctrl_restouch: restouchgrp {
			fsl,pins = <
				IMX8QM_ESAI1_TX5_RX0_LSIO_GPIO2_IO13			0x06000020
			>;
		};

		pinctrl_usbotg1: otg1grp {
			fsl,pins = <
				IMX8QM_GPT1_CAPTURE_LSIO_GPIO0_IO18			0x06000048
			>;
		};


		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				IMX8QM_EMMC0_CLK_CONN_EMMC0_CLK				0x06000041
				IMX8QM_EMMC0_CMD_CONN_EMMC0_CMD				0x00000021
				IMX8QM_EMMC0_DATA0_CONN_EMMC0_DATA0			0x00000021
				IMX8QM_EMMC0_DATA1_CONN_EMMC0_DATA1			0x00000021
				IMX8QM_EMMC0_DATA2_CONN_EMMC0_DATA2			0x00000021
				IMX8QM_EMMC0_DATA3_CONN_EMMC0_DATA3			0x00000021
				IMX8QM_EMMC0_DATA4_CONN_EMMC0_DATA4			0x00000021
				IMX8QM_EMMC0_DATA5_CONN_EMMC0_DATA5			0x00000021
				IMX8QM_EMMC0_DATA6_CONN_EMMC0_DATA6			0x00000021
				IMX8QM_EMMC0_DATA7_CONN_EMMC0_DATA7			0x00000021
				IMX8QM_EMMC0_STROBE_CONN_EMMC0_STROBE			0x06000041
				IMX8QM_EMMC0_RESET_B_CONN_EMMC0_RESET_B			0x00000021
			>;
		};

		pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
			fsl,pins = <
				IMX8QM_EMMC0_CLK_CONN_EMMC0_CLK				0x06000040
				IMX8QM_EMMC0_CMD_CONN_EMMC0_CMD				0x00000020
				IMX8QM_EMMC0_DATA0_CONN_EMMC0_DATA0			0x00000020
				IMX8QM_EMMC0_DATA1_CONN_EMMC0_DATA1			0x00000020
				IMX8QM_EMMC0_DATA2_CONN_EMMC0_DATA2			0x00000020
				IMX8QM_EMMC0_DATA3_CONN_EMMC0_DATA3			0x00000020
				IMX8QM_EMMC0_DATA4_CONN_EMMC0_DATA4			0x00000020
				IMX8QM_EMMC0_DATA5_CONN_EMMC0_DATA5			0x00000020
				IMX8QM_EMMC0_DATA6_CONN_EMMC0_DATA6			0x00000020
				IMX8QM_EMMC0_DATA7_CONN_EMMC0_DATA7			0x00000020
				IMX8QM_EMMC0_STROBE_CONN_EMMC0_STROBE			0x06000040
				IMX8QM_EMMC0_RESET_B_CONN_EMMC0_RESET_B			0x00000020
			>;
		};

		pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
			fsl,pins = <
				IMX8QM_EMMC0_CLK_CONN_EMMC0_CLK				0x06000040
				IMX8QM_EMMC0_CMD_CONN_EMMC0_CMD				0x00000020
				IMX8QM_EMMC0_DATA0_CONN_EMMC0_DATA0			0x00000020
				IMX8QM_EMMC0_DATA1_CONN_EMMC0_DATA1			0x00000020
				IMX8QM_EMMC0_DATA2_CONN_EMMC0_DATA2			0x00000020
				IMX8QM_EMMC0_DATA3_CONN_EMMC0_DATA3			0x00000020
				IMX8QM_EMMC0_DATA4_CONN_EMMC0_DATA4			0x00000020
				IMX8QM_EMMC0_DATA5_CONN_EMMC0_DATA5			0x00000020
				IMX8QM_EMMC0_DATA6_CONN_EMMC0_DATA6			0x00000020
				IMX8QM_EMMC0_DATA7_CONN_EMMC0_DATA7			0x00000020
				IMX8QM_EMMC0_STROBE_CONN_EMMC0_STROBE			0x06000040
				IMX8QM_EMMC0_RESET_B_CONN_EMMC0_RESET_B			0x00000020
			>;
		};

		pinctrl_usdhc2_gpio: usdhc2grpgpio {
			fsl,pins = <
				IMX8QM_GPT0_CLK_LSIO_GPIO0_IO14				0x00000021
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				IMX8QM_USDHC1_CLK_CONN_USDHC1_CLK				0x06000041
				IMX8QM_USDHC1_CMD_CONN_USDHC1_CMD				0x00000021
				IMX8QM_USDHC1_DATA0_CONN_USDHC1_DATA0			0x00000021
				IMX8QM_USDHC1_DATA1_CONN_USDHC1_DATA1			0x00000021
				IMX8QM_USDHC1_DATA2_CONN_USDHC1_DATA2			0x00000021
				IMX8QM_USDHC1_DATA3_CONN_USDHC1_DATA3			0x00000021
				IMX8QM_USDHC1_VSELECT_CONN_USDHC1_VSELECT			0x00000021
			>;
		};

		pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
			fsl,pins = <
				IMX8QM_USDHC1_CLK_CONN_USDHC1_CLK				0x06000040
				IMX8QM_USDHC1_CMD_CONN_USDHC1_CMD				0x00000020
				IMX8QM_USDHC1_DATA0_CONN_USDHC1_DATA0			0x00000020
				IMX8QM_USDHC1_DATA1_CONN_USDHC1_DATA1			0x00000020
				IMX8QM_USDHC1_DATA2_CONN_USDHC1_DATA2			0x00000020
				IMX8QM_USDHC1_DATA3_CONN_USDHC1_DATA3			0x00000020
				IMX8QM_USDHC1_VSELECT_CONN_USDHC1_VSELECT			0x00000020
			>;
		};

		pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
			fsl,pins = <
				IMX8QM_USDHC1_CLK_CONN_USDHC1_CLK				0x06000040
				IMX8QM_USDHC1_CMD_CONN_USDHC1_CMD				0x00000020
				IMX8QM_USDHC1_DATA0_CONN_USDHC1_DATA0			0x00000020
				IMX8QM_USDHC1_DATA1_CONN_USDHC1_DATA1			0x00000020
				IMX8QM_USDHC1_DATA2_CONN_USDHC1_DATA2			0x00000020
				IMX8QM_USDHC1_DATA3_CONN_USDHC1_DATA3			0x00000020
				IMX8QM_USDHC1_VSELECT_CONN_USDHC1_VSELECT			0x00000020
			>;
		};

		pinctrl_usdhc3: usdhc3grp {
			fsl,pins = <
				IMX8QM_USDHC2_CLK_CONN_USDHC2_CLK				0x06000041
				IMX8QM_USDHC2_CMD_CONN_USDHC2_CMD				0x00000021
				IMX8QM_USDHC2_DATA0_CONN_USDHC2_DATA0			0x00000021
				IMX8QM_USDHC2_DATA1_CONN_USDHC2_DATA1			0x00000021
				IMX8QM_USDHC2_DATA2_CONN_USDHC2_DATA2			0x00000021
				IMX8QM_USDHC2_DATA3_CONN_USDHC2_DATA3			0x00000021
			>;
		};

		pinctrl_usdhc3_100mhz: usdhc3grp100mhz {
			fsl,pins = <
				IMX8QM_USDHC2_CLK_CONN_USDHC2_CLK				0x06000040
				IMX8QM_USDHC2_CMD_CONN_USDHC2_CMD				0x00000020
				IMX8QM_USDHC2_DATA0_CONN_USDHC2_DATA0			0x00000020
				IMX8QM_USDHC2_DATA1_CONN_USDHC2_DATA1			0x00000020
				IMX8QM_USDHC2_DATA2_CONN_USDHC2_DATA2			0x00000020
				IMX8QM_USDHC2_DATA3_CONN_USDHC2_DATA3			0x00000020
			>;
		};

		pinctrl_usdhc3_200mhz: usdhc3grp200mhz {
			fsl,pins = <
				IMX8QM_USDHC2_CLK_CONN_USDHC2_CLK				0x06000040
				IMX8QM_USDHC2_CMD_CONN_USDHC2_CMD				0x00000020
				IMX8QM_USDHC2_DATA0_CONN_USDHC2_DATA0			0x00000020
				IMX8QM_USDHC2_DATA1_CONN_USDHC2_DATA1			0x00000020
				IMX8QM_USDHC2_DATA2_CONN_USDHC2_DATA2			0x00000020
				IMX8QM_USDHC2_DATA3_CONN_USDHC2_DATA3			0x00000020
			>;
		};

		pinctrl_wifi: wifigrp {
			fsl,pins = <
				IMX8QM_SCU_GPIO0_07_SCU_DSC_RTC_CLOCK_OUTPUT_32K	0xc600004c /* WIFI_32K_CLK */
				IMX8QM_SCU_GPIO0_03_LSIO_GPIO0_IO31			0x06000021 /* WIFI_REG_ON  */
				IMX8QM_SCU_GPIO0_02_LSIO_GPIO0_IO30			0x00000021 /* BT_REG_ON    */
				IMX8QM_QSPI1A_DATA0_LSIO_GPIO4_IO26			0x00000021 /* BT_BUF       */
			>;
		};
	};
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};

	m2m_device {
		status = "okay";
	};
};

&isi_1 {
	status = "disabled";
};

&isi_2 {
	status = "disabled";
};

&isi_3 {
	status = "disabled";
};

&isi_4 {
	status = "disabled";
};

&isi_5 {
	status = "disabled";
};

&isi_6 {
	status = "disabled";
};

&isi_7 {
	status = "disabled";
};

&jpegdec {
       status = "okay";
};

&jpegenc {
       status = "okay";
};

&lpuart0 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart0>;
	status = "okay";
};

&lpuart1 { /* BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart1>;
	uart-has-rtscts;
	status = "okay";
};

&lpuart2 { /* header */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart2>;
	status = "okay";
};

&lpuart3 {
	status = "disabled";
};

&lpuart4 { /* header */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart4>;
	status = "okay";
};

&lpspi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi1 &pinctrl_lpspi1_cs>;
	cs-gpios = <&lsio_gpio3 24 0>;
	status = "okay";

        spidev@0 {
		compatible = "var,spidev";
		spi-max-frequency = <12000000>;
		reg = <0>;
		status = "okay";
        };
};

&lpspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi2 &pinctrl_lpspi2_cs>;
	cs-gpios = <&lsio_gpio3 10 0>;
	status = "okay";

	/* Touch */
	ads7846@0 {
		reg = <0>;
		compatible = "ti,ads7846";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_restouch>;
		interrupt-parent = <&lsio_gpio2>;
		interrupts = <13 0>;
		spi-max-frequency = <1500000>;
		pendown-gpio = <&lsio_gpio2 13 0>;
		ti,x-min = /bits/ 16 <125>;
		ti,x-max = /bits/ 16 <4008>;
		ti,y-min = /bits/ 16 <282>;
		ti,y-max = /bits/ 16 <3864>;
		ti,x-plate-ohms = /bits/ 16 <180>;
		ti,pressure-max = /bits/ 16 <255>;
		ti,debounce-max = /bits/ 16 <10>;
		ti,debounce-tol = /bits/ 16 <3>;
		ti,debounce-rep = /bits/ 16 <1>;
		ti,settle-delay-usec = /bits/ 16 <150>;
		ti,keep-vref-on;
		status = "disabled";
	};
};

&lsio_gpio0 {
	/* Enable wakeup-source from Capacitive touch */

	pad-wakeup-num = <1>;	/* Total number of wakeup pads in gpio0 bank */

	/*
	 IMX8QM_GPT1_COMPARE:   Touch IRQ pin id
	 SC_PAD_WAKEUP_LOW_LVL: trigger type
	 19:                    Touch IRQ gpio pin
	*/
	pad-wakeup = <IMX8QM_GPT1_COMPARE SC_PAD_WAKEUP_LOW_LVL 19>;

	cam_buf_hog {
		gpio-hog;
		gpios = <22 0>;
		output-high;
		line-name = "cam_buf_en";
	};
};

&lsio_gpio1 {
	/* Enable wakeup-source from all pca9534 gpio-keys*/

	pad-wakeup-num = <1>;	/* Total number of wakeup pads in gpio1 bank */

	/*
	 IMX8QM_MIPI_CSI0_MCLK_OUT: PCA9534 IRQ pin id
	 SC_PAD_WAKEUP_LOW_LVL:     trigger type
	 24:                        PCA9534 IRQ gpio pin
	*/
	pad-wakeup = <IMX8QM_MIPI_CSI0_MCLK_OUT SC_PAD_WAKEUP_LOW_LVL 24>;
};

&mipi_csi_0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	/* Camera 0  MIPI CSI-2 (CSIS0) */
	port@0 {
		reg = <0>;
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&ov5640_mipi_0_ep>;
			data-lanes = <1 2>;
		};
	};
};

&mipi_csi_1 {
	status = "disabled";
};

&mlb {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_mlb>;
	status = "disabled";
};

&mu_m0{
	interrupts = <GIC_SPI 472 IRQ_TYPE_LEVEL_HIGH>;
};

&mu1_m0{
	interrupts = <GIC_SPI 473 IRQ_TYPE_LEVEL_HIGH>;
};

&mu2_m0{
	interrupts = <GIC_SPI 474 IRQ_TYPE_LEVEL_HIGH>;
	status = "okay";
};

&mu3_m0{
	interrupts = <GIC_SPI 475 IRQ_TYPE_LEVEL_HIGH>;
	status = "okay";
};

&pciea{
	ext_osc = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pciea>;
	reset-gpio = <&lsio_gpio3 14 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pcieb{
	status = "disabled";
};

&pca9534 {
        usb3_signal_route {
                gpio-hog;
                gpios = <4 GPIO_ACTIVE_HIGH>;
                output-low;
                line-name = "usb3_signal_route";
        };
};

&pwm_lvds0 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm_lvds0>;
        status = "okay";
};

&rtc {
	status = "disabled";
};

&sai6 {
	assigned-clocks = <&acm IMX_ADMA_ACM_SAI6_MCLK_SEL>,
			<&clk IMX_SC_R_AUDIO_PLL_1 IMX_SC_PM_CLK_PLL>,
			<&clk IMX_SC_R_AUDIO_PLL_1 IMX_SC_PM_CLK_SLV_BUS>,
			<&clk IMX_SC_R_AUDIO_PLL_1 IMX_SC_PM_CLK_MST_BUS>,
			<&sai6_lpcg 0>;
	assigned-clock-parents = <&aud_pll_div1_lpcg 0>;
	assigned-clock-rates = <0>, <786432000>, <98304000>, <24576000>, <98304000>;
	fsl,sai-asynchronous;
	fsl,txm-rxs;
	status = "okay";
};

&sai7 {
	assigned-clocks = <&acm IMX_ADMA_ACM_SAI7_MCLK_SEL>,
			<&clk IMX_SC_R_AUDIO_PLL_1 IMX_SC_PM_CLK_PLL>,
			<&clk IMX_SC_R_AUDIO_PLL_1 IMX_SC_PM_CLK_SLV_BUS>,
			<&clk IMX_SC_R_AUDIO_PLL_1 IMX_SC_PM_CLK_MST_BUS>,
			<&sai7_lpcg 0>;
	assigned-clock-parents = <&aud_pll_div1_lpcg 0>;
	assigned-clock-rates = <0>, <786432000>, <98304000>, <24576000>, <98304000>;
	fsl,sai-asynchronous;
	fsl,txm-rxs;
	status = "okay";
};

&thermal_zones {
	pmic-thermal0 {
		polling-delay-passive = <250>;
		polling-delay = <2000>;
		thermal-sensors = <&tsens IMX_SC_R_PMIC_0>;
		trips {
			pmic_alert0: trip0 {
				temperature = <110000>;
				hysteresis = <2000>;
				type = "passive";
			};
			pmic_crit0: trip1 {
				temperature = <125000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};
		cooling-maps {
			map0 {
				trip = <&pmic_alert0>;
				cooling-device =
				<&A53_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
				<&A53_1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
				<&A53_2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
				<&A53_3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
				<&A72_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
				<&A72_1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			};
		};
	};
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	cd-gpios = <&lsio_gpio0 14 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

&usdhc3 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>, <&pinctrl_wifi>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>, <&pinctrl_wifi>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>, <&pinctrl_wifi>;
	bus-width = <4>;
	status = "okay";

	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&usbphy1 {
	status = "okay";
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	vbus-supply = <&reg_usb_otg1_vbus>;
	srp-disable;
	hnp-disable;
	adp-disable;
	disable-over-current;
	dr_mode = "host";
	status = "okay";
};

&usb3phynop1 {
	status = "okay";
};

&usbotg3 {
	dr_mode = "otg";
	extcon = <&typec_ptn5150>;
	status = "okay";
};

&vpu_decoder {
	compatible = "nxp,imx8qm-b0-vpudec";
	boot-region = <&decoder_boot>;
	rpc-region = <&decoder_rpc>;
	reg-csr = <0x2d080000>;
	core_type = <2>;
	status = "okay";
};

&vpu_encoder {
	compatible = "nxp,imx8qm-b0-vpuenc";
	boot-region = <&encoder_boot>;
	rpc-region = <&encoder_rpc>;
	reserved-region = <&encoder_reserved>;
	reg-rpc-system = <0x40000000>;
	resolution-max = <1920 1920>;
	power-domains = <&pd IMX_SC_R_VPU_ENC_0>, <&pd IMX_SC_R_VPU_ENC_1>,
			<&pd IMX_SC_R_VPU>;
	power-domain-names = "vpuenc1", "vpuenc2", "vpu";
	mbox-names = "enc1_tx0", "enc1_tx1", "enc1_rx",
		     "enc2_tx0", "enc2_tx1", "enc2_rx";
	mboxes = <&mu1_m0 0 0
		  &mu1_m0 0 1
		  &mu1_m0 1 0
		  &mu2_m0 0 0
		  &mu2_m0 0 1
		  &mu2_m0 1 0>;
	status = "okay";

	vpu_enc_core0: core0@1020000 {
		compatible = "fsl,imx8-mu1-vpu-m0";
		reg = <0x1020000 0x20000>;
		reg-csr = <0x1090000 0x10000>;
		interrupts = <GIC_SPI 473 IRQ_TYPE_LEVEL_HIGH>;
		fsl,vpu_ap_mu_id = <17>;
		fw-buf-size = <0x200000>;
		rpc-buf-size = <0x80000>;
		print-buf-size = <0x80000>;
	};

	vpu_enc_core1: core1@1040000 {
		compatible = "fsl,imx8-mu2-vpu-m0";
		reg = <0x1040000 0x20000>;
		reg-csr = <0x10A0000 0x10000>;
		interrupts = <GIC_SPI 474 IRQ_TYPE_LEVEL_HIGH>;
		fsl,vpu_ap_mu_id = <18>;
		fw-buf-size = <0x200000>;
		rpc-buf-size = <0x80000>;
		print-buf-size = <0x80000>;
	};
};

&vpu_ts {
	compatible = "nxp,imx8qm-b0-vpu-ts";
	boot-region = <&ts_boot>;
	reg-csr = <0x2d0b0000>;
	status = "okay";
};
