// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 Variscite Ltd.
 */

#include "imx8mp-var-dart-dt8mcustomboard-legacy.dtsi"

/{
	model = "Variscite DART-MX8M-PLUS LVDS on DT8MCustomBoard 1.x";
};
