// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree overlay to support the VAR-SOM-MX8M-PLUS 2.0 with wbe (802.15.4)
 *
 * Copyright 2023 Variscite Ltd.
 */

/dts-v1/;
/plugin/;

&ecspi1 {
	/* Disable resistive touch controller on CS0 */
	ads7846@0 {
		status = "disabled";
	};

	/* Enable 802.15.4 SPI device on CS0 */
	spidev@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_restouch>;
		reg = <0>;
		compatible = "var,spidev";
		spi-max-frequency = <1000000>;
		status = "okay";
	};
};
