// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2017 NXP
 * Copyright 2018-2021 Variscite Ltd.
 */

#include "imx8mq-var-dart-dt8mcustomboard-legacy-wifi-lvds.dts"
#include "imx8mq-var-dart-dt8mcustomboard-m4.dtsi"

/ {
	model = "Variscite DART-MX8M on DT8MCustomBoard 1.x M4+WIFI+LVDS";
};
