/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mn-var-som.dtsi"

/ {
	model = "Variscite VAR-SOM-MX8M-NANO on fulfil board";
	compatible = "variscite,var-som-mx8mn", "fsl,imx8mn";

	imx8mn-cm7 {
		compatible = "fsl,imx8mn-cm7";
		rsc-da = <0x40000000>;
		mbox-names = "tx", "rx", "rxdb";
		mboxes = <&mu 0 1
				&mu 1 1
			  	&mu 3 1>;
		memory-region = <&vdev0vring0>, <&vdev0vring1>, <&vdevbuffer>, <&m_core_reserved>;
		status = "okay";
	};
	
	reserved-memory {
		m_core_reserved: m_core@0x7e000000 {
			no-map;
			reg = <0 0x7e000000 0 0x1000000>;
		};

		vdev0vring0: vdev0vring0@40000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x40000000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@40008000 {
			compatible = "shared-dma-pool";
			reg = <0 0x40008000 0 0x8000>;
			no-map;
		};
		vdevbuffer: vdevbuffer@0x40400000 {
			compatible = "shared-dma-pool";
			reg = <0 0x40400000 0 0x100000>;
			no-map;
		};
	};
};

&iomuxc {
	pinctrl-0 = <&pinctrl_hog>;
	
	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO01_GPIO1_IO1		0x14
			MX8MN_IOMUXC_GPIO1_IO03_GPIO1_IO3 		0x14
			MX8MN_IOMUXC_GPIO1_IO06_GPIO1_IO6		0x14
			MX8MN_IOMUXC_GPIO1_IO07_GPIO1_IO7		0x14
			MX8MN_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x14
			MX8MN_IOMUXC_GPIO1_IO10_GPIO1_IO10		0x14
			MX8MN_IOMUXC_GPIO1_IO11_GPIO1_IO11		0x14
			MX8MN_IOMUXC_GPIO1_IO12_GPIO1_IO12		0x14
			MX8MN_IOMUXC_GPIO1_IO14_GPIO1_IO14	 	0x14
			MX8MN_IOMUXC_GPIO1_IO15_GPIO1_IO15		0x14
			MX8MN_IOMUXC_SD2_DATA0_GPIO2_IO15		0x14
			MX8MN_IOMUXC_SD2_DATA1_GPIO2_IO16		0x14
			MX8MN_IOMUXC_SD2_DATA2_GPIO2_IO17		0x14
			MX8MN_IOMUXC_SAI5_RXFS_GPIO3_IO19		0x14
			MX8MN_IOMUXC_SAI5_RXC_GPIO3_IO20		0x14
			MX8MN_IOMUXC_SAI5_RXD0_GPIO3_IO21		0x14
			MX8MN_IOMUXC_SAI5_RXD1_GPIO3_IO22		0x14
			MX8MN_IOMUXC_SAI5_RXD2_GPIO3_IO23		0x14
			MX8MN_IOMUXC_SAI5_RXD3_GPIO3_IO24		0x14
			MX8MN_IOMUXC_SAI5_MCLK_GPIO3_IO25	 	0x14
			MX8MN_IOMUXC_SAI2_TXC_GPIO4_IO25		0x14
			MX8MN_IOMUXC_SAI2_TXD0_GPIO4_IO26		0x14
			MX8MN_IOMUXC_SAI2_MCLK_GPIO4_IO27		0x14
			MX8MN_IOMUXC_SAI3_RXFS_GPIO4_IO28		0x14
			MX8MN_IOMUXC_SAI3_RXC_GPIO4_IO29		0x14
			MX8MN_IOMUXC_SAI3_TXC_GPIO5_IO0			0x14
			MX8MN_IOMUXC_SAI3_TXD_GPIO5_IO1			0x14
			MX8MN_IOMUXC_SAI3_MCLK_GPIO5_IO2		0x14
			MX8MN_IOMUXC_SPDIF_TX_GPIO5_IO3		 	0x14
			MX8MN_IOMUXC_SPDIF_RX_GPIO5_IO4			0x14
			MX8MN_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5		0x14
			MX8MN_IOMUXC_ECSPI1_SS0_GPIO5_IO9		0x14
			MX8MN_IOMUXC_ECSPI2_SCLK_GPIO5_IO10		0x14
			MX8MN_IOMUXC_ECSPI2_SS0_GPIO5_IO13		0x14
			MX8MN_IOMUXC_I2C4_SCL_GPIO5_IO20		0x14
			MX8MN_IOMUXC_I2C4_SDA_GPIO5_IO21		0x14
			MX8MN_IOMUXC_UART2_RXD_GPIO5_IO24 		0x14
			MX8MN_IOMUXC_UART2_TXD_GPIO5_IO25		0x14
		//	MX8MN_IOMUXC_UART3_RXD_GPIO5_IO26		0x14
			MX8MN_IOMUXC_UART3_TXD_GPIO5_IO27		0x14
		>;
	};
	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI2_RXD0_UART1_DCE_RTS_B	0x140
			MX8MN_IOMUXC_SAI2_RXC_UART1_DCE_RX		0x140
			MX8MN_IOMUXC_SAI2_RXFS_UART1_DCE_TX		0x140
			MX8MN_IOMUXC_SAI2_TXFS_UART1_DCE_CTS_B	0x140
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART3_RXD_UART3_DCE_RX		0x140
			MX8MN_IOMUXC_UART3_TXD_UART3_DCE_TX		0x140
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART4_RXD_UART4_DCE_RX		0x140
			MX8MN_IOMUXC_UART4_TXD_UART4_DCE_TX		0x140
		>;
	};

	pinctrl_ecspi2_j17: ecspi2grp_j17 {
        fsl,pins = <
            MX8MN_IOMUXC_SD2_CLK_ECSPI2_SCLK    0x13    
            MX8MN_IOMUXC_SD2_CMD_ECSPI2_MOSI    0x13    
            MX8MN_IOMUXC_SD2_DATA3_ECSPI2_MISO	0x13   
        >;
    };

	pinctrl_ecspi3: ecspi3grp {
        fsl,pins = <
			MX8MN_IOMUXC_UART1_TXD_ECSPI3_MOSI		0x13
			MX8MN_IOMUXC_UART1_RXD_ECSPI3_SCLK		0x13
        >;
    };

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C2_SCL_I2C2_SCL			0x400001c3
			MX8MN_IOMUXC_I2C2_SDA_I2C2_SDA			0x400001c3
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX8MN_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK		0x13
				MX8MN_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI		0x13
				MX8MN_IOMUXC_ECSPI1_MISO_ECSPI1_MISO		0x13
				MX8MN_IOMUXC_GPIO1_IO00_GPIO1_IO0		0x13
				MX8MN_IOMUXC_ENET_MDIO_GPIO1_IO17		0x13
				MX8MN_IOMUXC_SD2_RESET_B_GPIO2_IO19		0x13
				MX8MN_IOMUXC_ENET_TX_CTL_GPIO1_IO22		0x13
			>;
	};
};

&fec1{
	status = "disabled";
};

/*
gpio5_io09 is the reboot pin. This needs to drive high very early in boot to avoid a loop
*/
&gpio5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	gpio5_io09_high: gpio5-io09-high {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "gpio5_io09_boot_high";
	};
};

&ecspi1 {
	status = "okay";
    pinctrl-names = "default";
    pinctrl-0     = <&pinctrl_ecspi1>;
	cs-gpios = <&gpio1 22 GPIO_ACTIVE_LOW>,
			<&gpio1  0 GPIO_ACTIVE_LOW>,
			<&gpio1 17 GPIO_ACTIVE_LOW>;
	/delete-node/ ads7846@0;
	/delete-node/ spidev@2;
    /*/delete-property/ dmas;
    /delete-property/ dma-names;*/
};

&usbotg1 {
	dr_mode = "host";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	hnp-disable;
	srp-disable;
	adp-disable;
	extcon = <0>;
	status = "okay";
};

&ecspi2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi2_j17>;
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;
    status = "okay";
    /* Test SPI device */
    spidev@0 {
        reg = <0>;
        compatible = "var,spidev";
        spi-max-frequency = <12000000>;
        status = "okay";
    };
};

&ecspi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio1  24 GPIO_ACTIVE_LOW>;

	// LEDS
	spidev@0 {
		reg = <0>;
		compatible = "var,spidev";
		spi-max-frequency = <12000000>;
		status = "okay";
	};
};

&mipi_csi_1 {
	// DISABLED to avoid conflict because pinctrl_ecspi2_j17 reports ECSPI2_MISO which is in use by pinctrl_csi1
	status = "disabled";
};

&mipi_dsi {
	status = "disabled";
};

&i2c1 {
	clock-frequency = <400000>;
	status = "disabled";
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	scl-gpios = <&gpio5 16 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 17 GPIO_ACTIVE_HIGH>;
	status = "okay";
};
&i2c3 {
	status = "okay";
	clock-frequency = <400000>;

	/* DS1337 RTC module */
	rtc@68 {
		status = "okay";
		compatible = "dallas,ds1337";
		reg = <0x68>;
	};

	wm8904: audio-codec@1a {
		status = "disabled";
	};
};

&i2c4 {
	status = "disabled";
};

&sai5 {
	status = "disabled";
};

&sdma1{
	status = "okay";
};

/* Header */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	status = "okay";
};
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
        status = "okay";
};

/* Console */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&wdog1 {
	status = "okay";
};
