// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 NXP
 * Copyright 2024-2025 Variscite Ltd.
 */

#include "imx95-var-dart-sonata.dts"

/ {
	model = "Variscite DART-MX95 on DT8MCustomBoard 3.x";
};

&enetc_port2 {
	status = "disabled";
};

&lpi2c3 {
	pca9534: gpio@22 {
		status = "disabled";
	};
};

&lpi2c8 {
	st33ktpm2xi2c: st33ktpm2xi2c@2e {
		status = "disabled";
	};
};

&pcie1 {
	status = "disabled";
};
