// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 NXP
 * Copyright 2025 Variscite Ltd.
 */

#include "imx93-var-dart-dt8mcustomboard.dtsi"

&ethphy1 {
	reset-gpios = <&pca6408_2 0 GPIO_ACTIVE_LOW>;
	reset-assert-us = <15000>;
	reset-deassert-us = <100000>;
	mxl-8611x,led0_cfg = <(
		MXL8611X_LEDX_CFG_LINK_UP_RX_ACT_ON |
		MXL8611X_LEDX_CFG_LINK_UP_TX_ACT_ON |
		MXL8611X_LEDX_CFG_TRAFFIC_ACT_BLINK_IND
	)>;
	mxl-8611x,led1_cfg = <(
		MXL8611X_LEDX_CFG_LINK_UP_10MB_ON |
		MXL8611X_LEDX_CFG_LINK_UP_100MB_ON |
		MXL8611X_LEDX_CFG_LINK_UP_1GB_ON
	)>;
};

&lpi2c1 {
	pca9534: gpio@22 {
		compatible = "nxp,pca9534";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&gpio1>;
		interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
	};
};

&lpi2c7 {
	st33ktpm2i: st33ktpm2i@2e {
		compatible = "infineon,slb9673";
		reg = <0x2e>;
	};
};

&pinctrl_fec {
	fsl,pins = <
		MX93_PAD_ENET2_RD0__ENET1_RGMII_RD0		0x57e
		MX93_PAD_ENET2_RD1__ENET1_RGMII_RD1		0x57e
		MX93_PAD_ENET2_RD2__ENET1_RGMII_RD2		0x57e
		MX93_PAD_ENET2_RD3__ENET1_RGMII_RD3		0x37e  /* Enable pull-up to strap MXL86110 MDIO address */
		MX93_PAD_ENET2_RXC__ENET1_RGMII_RXC		0x58e
		MX93_PAD_ENET2_RX_CTL__ENET1_RGMII_RX_CTL	0x57e
		MX93_PAD_ENET2_TD0__ENET1_RGMII_TD0		0x57e
		MX93_PAD_ENET2_TD1__ENET1_RGMII_TD1		0x57e
		MX93_PAD_ENET2_TD2__ENET1_RGMII_TD2		0x57e
		MX93_PAD_ENET2_TD3__ENET1_RGMII_TD3		0x57e
		MX93_PAD_ENET2_TXC__ENET1_RGMII_TXC		0x58e
		MX93_PAD_ENET2_TX_CTL__ENET1_RGMII_TX_CTL	0x57e
	>;
};
