#
# Counter devices
#
# When adding new entries keep the list in alphabetical order

menu "Counters"

config FTM_QUADDEC
	tristate "Flex Timer Module Quadrature decoder driver"
	help
	  Select this option to enable the Flex Timer Quadrature decoder
	  driver.

	  To compile this driver as a module, choose M here: the
	  module will be called ftm-quaddec.

endmenu
